@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.container {
  min-width: 1110px;
}
.container .header .menu {
  display: flex;
  justify-content: center;
}
.container .header .menu__link {
  text-decoration: none;
}
.container .header__menu-level-1 {
  padding: 16px 0 17px 0;
  font-size: 14px;
  background-color: #EFEFEF;
}
.container .header__menu-level-1 .menu__item--level-1 {
  margin-inline: 30px;
  color: #333333;
}
.container .header__menu-level-2 {
  border-top: 1px solid #EFEFEF;
  padding: 30px 0;
  font-size: 14px;
}
.container .header__menu-level-2 .menu__item--level-2 {
  margin-inline: 40px;
  color: black;
}
.container .header .logo {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  max-width: 258px;
  margin: 20px 0 20px 20%;
  vertical-align: middle;
}
.container .header .logo__text {
  color: #F13C6E;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}
.container .header .callback {
  display: inline-flex;
  align-items: center;
  margin: 40px 0 40px 27%;
  text-wrap: nowrap;
}
.container .header .callback__action {
  width: 170px;
  margin-left: 40px;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  padding: 12px 26px 13px 27px;
  background-color: transparent;
  font-size: 14px;
}
.container .header .jumbotron {
  background-image: url("../images/jumbotron.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 192px 0 193px 20%;
}
.container .header .jumbotron__container {
  width: 308px;
}
.container .header .jumbotron__headline {
  margin-bottom: 50px;
  color: white;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.container .header .jumbotron__text {
  margin-bottom: 32px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.container .header .jumbotron__action {
  width: 170px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  padding: 12px 26px 13px 27px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
}
.container .main {
  background-color: #EFEFEF;
}
.container .main .offer, .container .main .viewed {
  padding: 80px 20% 100px;
}
.container .main .offer__headline, .container .main .viewed__headline {
  padding-bottom: 38px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}
.container .main .offer__items-wrap, .container .main .viewed__items-wrap {
  display: flex;
  row-gap: 30px;
  justify-content: space-between;
}
.container .main .offer .product, .container .main .viewed .product {
  width: 255px;
  padding: 25px 30px;
  background-color: white;
}
.container .main .offer .product__image, .container .main .viewed .product__image {
  display: block;
  width: 125px;
  margin: 0 35px 20px;
}
.container .main .offer .product__description, .container .main .viewed .product__description {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.69px;
  text-align: center;
  color: #333333;
}
.container .main .offer .product__price, .container .main .viewed .product__price {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 500;
  line-height: 24.61px;
  letter-spacing: 0.05em;
  text-align: center;
}
.container .main .offer .product__buy-action, .container .main .viewed .product__buy-action {
  display: block;
  border-radius: 30px;
  padding: 9px 51px;
  text-align: center;
  color: white;
  background-color: #F13C6E;
}
.container .main .cards {
  margin: 0 20%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 15px));
  column-gap: 30px;
}
.container .main .cards .card {
  display: flex;
  justify-content: space-between;
  padding: 35px 45px 35px 40px;
  color: white;
  background-color: #ff3770;
}
.container .main .cards .card__headline {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}
.container .main .cards .card__description {
  width: 60%;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.69px;
  text-align: left;
  text-wrap: wrap;
}
.container .main .cards .card__email {
  width: 225px;
  border-radius: 30px;
  padding: 9px 25px;
}
.container .main .cards .card__email::placeholder {
  color: #C4C4C4;
}
.container .main .cards .card__action {
  width: 170px;
  display: block;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  background-color: transparent;
}
.container .main .cards .card__logo {
  display: flex;
  justify-content: end;
  align-items: center;
}
.container .main .cards .card__image--letter {
  width: 140px;
}
.container .main .cards .card__image--car {
  width: 188px;
}
.container .main .brands {
  display: grid;
  grid-template-rows: repeat(3, 119px);
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0 20%;
}
.container .main .brands__logo {
  width: 149px;
}

/*# sourceMappingURL=style.css.map */
